*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(140, 140, 226), rgb(42, 177, 42));
    background-repeat: no-repeat;
}

h1{
    font-size: 40px;
    text-align: center;
}